<div class="container">
	<div class="corpfood">
		<div class="row">
			<div class="col" >
				<h2>Корпоративное питание</h2>
				<p>&nbsp;</p><p><b><i><u>Мы любим вкусно кормить и приятно удивлять</u></i></b><b><i><u>!</u></i></b></p><p><b><i><u><br></u></i></b></p><p><b><i><u><p><img src="../img/5358bdb196726.png" style="width: 320px; max-width: 100%; height: 148px; float: left; margin: 0px 10px 10px 0px;" alt=""></p></u></i></b></p><span style="line-height: 1.45em;">Ежедневно </span><b style="line-height: 1.45em;">А</b><b style="line-height: 1.45em;">lmaty</b><b style="line-height: 1.45em;">c</b><b style="line-height: 1.45em;">а</b><b style="line-height: 1.45em;">tering</b><span style="line-height: 1.45em;"> предлагает своим гостям меню как </span><b style="line-height: 1.45em;"><i>свободного выбора </i></b><i style="line-height: 1.45em;">со следующим ассортиментом: 3-4 видов супа,
				5-8 видов вторых блюд, 3-5 видов салата, десерты,</i><span style="line-height: 1.45em;"> так и </span><b style="line-height: 1.45em;"><i>комплексные
				обеды</i></b><span style="line-height: 1.45em;">. Наши дополнительные услуги включают стол заказов, продажа полуфабрикатов
				со скидкой, организацию кофе брейков, фуршетов, пикников, банкетов. &nbsp;&nbsp;</span><span><p><br></p>

				<p></p>

				<p><b>Наша философия</b> – для нас
					важны положительные эмоции, которые получит Клиент, пользующийся услугами <b>Almaty</b><b>catering</b><b>.</b></p><p><b><br></b></p>

					<p><b>Наша миссия</b>&nbsp;
						– качество и безопасность предоставляемых услуг.</p><p><br></p>

						<p><b><p><img src="../img/5358be18a3248.png" alt="" style="float: left; margin: 0px 10px 10px 0px; width: 266.89497716894977px; height: 167px;"></p>Наши
						преимущества:</b></p>

						<ul>
							<li>Собственная производственная база в г. Алматы;</li>
							<li>Стабильное качество продукции;</li>
							<li>Клиенто ориентированность;</li>
							<li>Отлаженный технологический процесс; </li>
							<li>Штатный повар- диетолог и врач санэпиднадзора;</li>
							<li>Наша собственная система обеспечения&nbsp; включает в себя контроль качества продуктов
								службой; приемки продуктов <b>нитратомером,&nbsp; </b>для выбраковки&nbsp; нитратосодержащихся&nbsp; продуктов;</li>
								<li>Использование современных технологий быстрого
									охлаждения и вакуумной упаковки;</li>
									<li>Возможность подключиться к проекту на любом этапе;
									</li>
									<li>Ориентированность на клиента, гибкая клиентская
										политика, программы общения с клиентами; </li>
										<li>Программа скидок и специальных предложений;</li>
										<li>Творческий подход.&nbsp;</li>
									</ul><p><span style="line-height: 20px;"></span></p><p><b>Наша команда</b></p>

									<p>Технолог компании - Виталий Душанов,
										36 лет. Инженер&nbsp; технолог по образованию,
										имеет 16- летний &nbsp;опыт работы во
										французской компании&nbsp; «Аден сервис».&nbsp; В&nbsp; <b>Almaty</b><b>c</b><b>а</b><b>tering</b>&nbsp; Виталий Душанов создал свою
										концепцию организации питания в Казахстане с учетом опыта системной работы в
										иностранных компаниях, вкусов и приоритетов казахстанских потребителей. Вместе
										с Виталием &nbsp;работает профессиональная команда
										из 30 человек.</p><p><br></p>

										<p></p>

										<p>С уважением к Вам команда&nbsp; <b>Almaty</b><b>catering</b></p>

										<p>Кангужина Салтанат. &nbsp;Директор компании.</p>

										<p>Душанов Виталий.&nbsp; Технолог&nbsp;
											компании&nbsp; </p>

											<p>Адрес: БЦ Нурлытау, блок 4Б, </p>

											<p>Контакты:&nbsp; 8(727) 327 20 22;&nbsp; 8(701) 400 6160; . email: <a href="mailto:almaty-catering@mail.ru">almaty<span>-catering@mail.ru</span></a>&nbsp; <a href="index.html">www<span>.almaty-catering.kz</span></a></p><br></span><p></p><p></p><p></p>

										</div>				
										<div class="col-12">
											<h2>Галерея</h2>
											<div class="row">
												<div class="col">
													<div class="iBankethallImage">
														<a href="static/uploads/51c3025bf2c3e.png" class="iGalleryFoto" rel="group767">
															<img src="static/uploads/51c3025bf2c3e_300x200.png" alt="" class="iGalleryImage" />
														</a>
													</div>
												</div>
												<div class="col">
													<div class="iBankethallImage">
														<a href="static/uploads/51c41b7498760.png" class="iGalleryFoto" rel="group767">
															<img src="static/uploads/51c41b7498760_300x200.png" alt="" class="iGalleryImage" />
														</a>
													</div>
												</div>
												<div class="col">
													<div class="iBankethallImage">
														<a href="static/uploads/51c41a0f062c8.png" class="iGalleryFoto" rel="group767">
															<img src="static/uploads/51c41a0f062c8_300x200.png" alt="" class="iGalleryImage" />
														</a>
													</div>
												</div>
												<div class="col">
													<div class="iBankethallImage">
														<a href="static/uploads/51c302b783682.png" class="iGalleryFoto" rel="group767">
															<img src="static/uploads/51c302b783682_300x200.png" alt="" class="iGalleryImage" />
														</a>
													</div>
												</div>
												<div class="col">
													<div class="iBankethallImage">
														<a href="static/uploads/51c302cadfa0d.png" class="iGalleryFoto" rel="group767">
															<img src="static/uploads/51c302cadfa0d_300x200.png" alt="" class="iGalleryImage" />
														</a>
													</div>
												</div>
												<div class="col">
													<div class="iBankethallImage">
														<a href="static/uploads/51c302e769aba.png" class="iGalleryFoto" rel="group767">
															<img src="static/uploads/51c302e769aba_300x200.png" alt="" class="iGalleryImage" />
														</a>
													</div>
												</div>
												<div class="col">
													<div class="iBankethallImage">
														<a href="static/uploads/51c302f85ffbf.png" class="iGalleryFoto" rel="group767">
															<img src="static/uploads/51c302f85ffbf_300x200.png" alt="" class="iGalleryImage" />
														</a>
													</div>
												</div>
												<div class="col">
													<div class="iBankethallImage">
														<a href="static/uploads/51c303077c65c.png" class="iGalleryFoto" rel="group767">
															<img src="static/uploads/51c303077c65c_300x200.png" alt="" class="iGalleryImage" />
														</a>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>