<main class="main">
  <!--Блок с преимуществами-->
  <div class="advantages">
    <div class="container">
      <h2 class="advantages-title">Наши преимущества</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 advantages-item">
          <p class="advantages-item-text">Индивидуальный подход к выбору меню</p>
        </div>
        <div class="col-lg-4 col-md-6 advantages-item">
          <p class="advantages-item-text">Широкая география деятельности</p>
        </div>
        <div class="col-lg-4 col-md-6 advantages-item">
          <p class="advantages-item-text">Широкая география деятельности</p>
        </div>
        <div class="col-lg-4 col-md-6 advantages-item">
          <p class="advantages-item-text">Низкие цены</p>
        </div>
        <div class="col-lg-4 col-md-6 advantages-item">
          <p class="advantages-item-text">Креативное оформление</p>
        </div>
        <div class="col-lg-4 col-md-6 advantages-item">
          <p class="advantages-item-text">Стильная сервировка</p>
        </div>
      </div>
    </div>
  </div>
  <!--Блок с услугами-->
  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="services-title services-title--first">Организация банкета</h3>
          <ul class="services-list services-list--first">
            <li class="services-item">5000 тг. на персону</li>
            <li class="services-item">7000 тг. на персону</li>
            <li class="services-item">9000 тг. на персону</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3 class="services-title">Организация фуршета</h3>
          <ul class="services-list">
            <li class="services-item">600 тг. на персону</li>
            <li class="services-item">1000 тг. на персону</li>
            <li class="services-item">1500 тг. на персону</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3 class="services-title services-title--last">Доставка</h3>
          <ul class="services-list">
            <li class="services-item">доставка фуршетных блюд</li>
            <li class="services-item">доставка банкетных блюд</li>
            <li class="services-item">доставка канапе</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!--Блок с отзывами-->
  <div class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Отзывы наших клиентов</h2>
    <div class="row">
      <div class="col-lg-4 testimonials-item"> <img src="../img/testimonials1.png" alt="customer reviews">
        <p class="testimonials-text"> Lorem ipsum - это текст-"рыбы", часто используемый в печати и веб-дизайне. Lorem ipsum является стандартной "рыбой" </p>
        <div class="testimonials-auhor">Анна Лисевич</div>
      </div>
      <div class="col-lg-4 testimonials-item"> <img src="../img/testimonials2.png" alt="customer reviews">
        <p class="testimonials-text"> Lorem ipsum - это текст-"рыбы", часто используемый в печати и веб-дизайне. Lorem ipsum является стандартной "рыбой" </p>
        <div class="testimonials-auhor">Юрий Гончаров</div>
      </div>
      <div class="col-lg-4 testimonials-item"> <img src="../img/testimonials3.png" alt="customer reviews">
        <p class="testimonials-text"> Lorem ipsum - это текст-"рыбы", часто используемый в печати и веб-дизайне. Lorem ipsum является стандартной "рыбой" </p>
        <div class="testimonials-auhor">Анна Ветлицкая</div>
      </div>
    </div>
  </div>
</div>
</main>