<main class="main">
  <div class="container">
    <div class="row catalog">
     
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/carrot.jpg" alt="carrot"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">500тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">350гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат из моркови, орехов с медово-клюквенной заправкой</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad5.jpg" alt="olivie"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">700тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат оливье с мясом</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/venegret.jpg" alt="venegret"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">600тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат винигрет</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad2.jpg" alt="carrot"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">800тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат из печеных корнеплодов, кедров орешков, рукколы</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
       <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad3.jpg" alt="carrot"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">500тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">350гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат из моркови, орехов с медово-клюквенной заправкой</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad4.jpg" alt="olivie"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">700тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат оливье с мясом</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad5.jpg" alt="venegret"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">600тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат винигрет</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad6.jpg" alt="carrot"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">800тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат из печеных корнеплодов, кедров орешков, рукколы</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
       <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/carrot.jpg" alt="carrot"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">500тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">350гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат из моркови, орехов с медово-клюквенной заправкой</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad5.jpg" alt="olivie"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">700тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат оливье с мясом</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/venegret.jpg" alt="venegret"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">600тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат винигрет</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad2.jpg" alt="carrot"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">800тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат из печеных корнеплодов, кедров орешков, рукколы</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
       <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad3.jpg" alt="carrot"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">500тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">350гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат из моркови, орехов с медово-клюквенной заправкой</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad4.jpg" alt="olivie"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">700тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат оливье с мясом</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad5.jpg" alt="venegret"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">600тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат винигрет</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col catalog-item">
        <a href="#" class="catalog-item__link">
          <div class="catalog-item__img"> <img src="img/salad6.jpg" alt="carrot"> </div>
          <div class="catalog-item__description">
            <div class="catalog-item__specification"> <span class="catalog-item__price">
               цена <span class="catalog-item__price-number">800тг.</span> </span> <span class="catalog-item__weight">
               вес <span class="catalog-item__weight-number">400гр.</span> </span>
            </div>
            <h3 class="catalog-item__title">Салат из печеных корнеплодов, кедров орешков, рукколы</h3>
            <div class="catalog-item__dropdown">
              <h4 class="catalog-item__ingredients-title">Ингредиенты:</h4>
              <p class="catalog-item__ingredients">брокколи, помидоры черри, капуста краснокочанная, листья салата, шарики из сыра фета и укропа</p>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</main>