.carousel-img {
  width: 100%;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: .9;
}

.carousel-control-next-icon {
  background: url(../../img/arrow.svg) no-repeat;
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
}

.carousel-control-prev-icon {
  background: url(../../img/arrow.svg) no-repeat;
  width: 40px;
  height: 40px;
}

.carousel-indicators li {
  background: rgba(0, 0, 0, .5);
}

.carousel-title {
  position: absolute;
  width: 70%;
  z-index: 2;
  top: 30%;
  left: 50%;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #783c3d;
  background: rgba(255, 255, 255, .7);
  transform: translateX(-385px);
}

.carousel-button {
  position: absolute;
  top: 200px;
  left: 50%;
  z-index: 2;
  width: 390px;
  margin-top: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 60px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, .7);
  transform: translateX(-195px);
  
  &:hover {
    color: #fff;
  }
}

/*Media querys*/
@media (max-width: 1200px) { 
  .carousel-title {
    width: 80%;
    transform: translateX(-370px);
  }
}

@media (max-width: 992px) { 
  .carousel-title {
    width: 70%;
    transform: translateX(-240px);
  }
  
  .carousel-button {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .carousel-title {
    font-size: 30px;
    transform: translateX(-180px);
  }
  .carousel-button {
    margin-top: 50px;
    width: 300px;
    transform: translateX(-150px);
  }
}

@media (max-width: 576px) {
  .carousel-title {
    top: 15%;
    width: 290px;
    font-size: 28px;
    transform: translateX(-145px);
  }
  
  .carousel-button {
    width: 250px;
    transform: translateX(-132px);
  }
}
