.main-header {
  
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &__logo {
    margin-top: 4px;
    width: 50%;
  }
  
  &__search {
    display: flex;
    justify-content: flex-end;
    margin-top: 34px;
    width: 50%;
  }
  
  &__search-input {
    font-family: Arial;
    font-size: 11px;
    color: #a6a3a3;
    font-style: italic;
    line-height: 20px;
    width: 223px;
    height: 30px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 10px;
    background-image: url(/static/tmcms/images/search.png);
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    border-radius: 4px;
    position: relative;
  }
  
  &__search-button {
    position: absolute;
    top: 34px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url(../../img/sprite.png) no-repeat;
    background-position: -40px -1330px;
    border: none;
    cursor: pointer;
    content: '';
  }
}

/*Media querys*/
@media (max-width: 992px) { 
  .main-header__search {
    display: none;
  }
}